body {
    font-family: 'Arial';
    background-color: white;
    color: rgb(0, 0, 0);
}

.card {
    width: 250px;
    height: 500px;
    margin-left: 200px;
    margin-top: 40px;
}

.top-sells {
    color: white;
    text-transform: uppercase;
    font-size: 9px;
    margin-left: 10px;
    width: 80px;
    margin-top: 15px;
}

.back-sells {
    height: 40px;
    width: 90px;
    background-color: orange;
    border-radius: 15px;
    margin-bottom: 30px;
    margin-left: 23px;
}

.card-item {
    display: flex;
}

.block-icons {
    display: flex;
    margin-left: 100px;
    flex-direction: column;
}

#heart {
    color: rgb(214, 255, 7);
}

#heart2 {
    color: orange;
}

#move {
    color: gray;
    margin-top: 10px;
}

.card-discount {
    margin-top: 30px;
}

.card-sell {
    width: 100px;
}

#star {
    color: yellow;
}

.coments {
    margin-left: 15px;
    text-decoration: none;
    color: gray;
}

.price-one {
    color: gray;
}

.card-price {
    margin-top: 20px;
}

.price {
    display: flex;
    color: red;
    width: 150%;
}

#cart {
    color: rgb(42, 157, 42);
    margin-left: 165px;
}

#cart2 {
    color: rgb(101, 255, 101);
    margin-left: 165px;
}

.send-name {
    color: rgb(42, 157, 42);
}

.sends {
    display: flex;
}

#car {
    margin-left: 20px;
    margin-bottom: 20px;
    color: rgb(42, 157, 42);
}

.card-sell img {
    width: 214px;
    height: 160px;
}

.card-discount img {
    width: 54px;
    height: 54px;
}